---
layout: page
title: Luca Padovani
---

<div class="frow gutters">
  <div class="col-md-1-3">
    <h2>ABOUT ME</h2>
    <p>
      I am an associate professor of Computer Science at
      the <a href="https://computerscience.unicam.it/">Computer
      Science Division</a> of
      the <a href="https://sst.unicam.it">School of Science and
      Technology</a> of the
      <a href="https://www.unicam.it/en/home">University of
	Camerino</a>. My research interests include <em>programming
	languages</em>, <em>type systems</em>, <em>concurrency
	theory</em> and <em>formal software verification</em>. On
	clear nights, I'm an amateur astrophotographer.
    </p>
  </div>
  <div class="col-md-1-3">
    <h2>CONTACT ME</h2>
    <ul class="fa-ul compact">
      <li><i class="fa-li fas fa-graduation-cap fa-fw"></i>
	<a href="https://www.unicam.it/">Università di Camerino</a>
      </li>
      <li>
	<a href="https://sst.unicam.it">Scuola di Scienze e Tecnologie</a>
      </li>
      <li>
	<a href="https://computerscience.unicam.it/">Polo di
	Informatica</a>
      </li>
      <li><i class="fa-li fas fa-map-pin fa-fw"></i>
	<a href="https://goo.gl/maps/PtBksR2GwaorrAxi8">via Madonna delle Carceri 7, 62032</a>
      </li>
      <li><i class="fa-li fas fa-envelope fa-fw"></i>
	<span class="email">a.padovani@unica</span>
      </li>
      <li><i class="fa-li fas fa-phone"></i>+39 0737 402115</li>
    </ul>
  </div>
  <div class="col-md-1-3">
    <h2>PROFILES</h2>
    <ul class="fa-ul compact">
      <li><i class="fa-li fas fa-database"></i>
	<a href="https://dblp.uni-trier.de/pers/hy/p/Padovani:Luca.html">DBLP computer science bibliography</a>
      </li>
      <li><i class="fa-li far fa-user-circle"></i>
	<a href="https://www.scopus.com/authid/detail.uri?authorId=22433816900">Scopus</a>
      </li>
      <li><i class="fa-li fab fa-orcid"></i>
	<a href="https://orcid.org/0000-0001-9097-1297">ORCiD</a>
      </li>
      <li><i class="fa-li fab fa-google-scholar"></i>
	<a href="http://scholar.google.com/citations?user=36Zw1AwAAAAJ">Google Scholar</a>
      </li>
      <li><i class="fa-li fab fa-github"></i>
	<a href="https://github.com/boystrange">GitHub</a>
      </li>
      <li><i class="fa-li far fa-thumbs-down"></i>
	Social networks? No thanks.
      </li>
    </ul>
  </div>
</div>

<div class="col-md-2-3">
  <h2>Publications</h2>
  {% assign current_year = 'now' | date: "%Y" %}
  {% assign current_year = 2024 %}
  {% for y in (2001..current_year) %}
  {% assign year = current_year | minus: y | plus: 2001 %}
  <h3>{{ year }}</h3>
  <ul class="fa-ul">
    {% for entry in site.data.bibliography %}
    {% assign entryyear = entry.issued.date-parts[0][0] | plus: 0 %}
    {% if entryyear == year or current_year == year and entryyear == 0 %}
    <li>
      {% case entry.type %}
      {% when "article-journal" %}
      <i class="fa-li fas fa-file-alt type"></i>
      {% when "book" %}
      <i class="fa-li fas fa-book type"></i>
      {% when "paper-conference" %}
      <i class="fa-li far fa-file-alt type"></i>
      {% when "chapter" %}
      <i class="fa-li fas fa-file type"></i>
      {% else %}
      <i class="fa-li fas fa-question-circle type"></i>
      {% endcase %}
      <span id="{{ entry.id }}">
	{% if entry.author %}
	{% for person in entry.author %}
	{{ person.given }} {{ person.family }}
	{%- if forloop.rindex0 == 1 %} and {% else %}, {% endif %}
	{% endfor %}
	{% elsif entry.editor %}
	{% for person in entry.editor %}
	{{ person.given }} {{ person.family }}
	{%- if forloop.rindex0 == 1 %} and {% else %}, {% endif %}
	{% endfor %}
	{% endif %}
      </span>

      {% if entry.DOI %}
      <a href="http://dx.doi.org/{{ entry.DOI }}">{{ entry.title }}</a>,
      {% else %}
      <strong>{{ entry.title }}</strong>,
      {% endif %}

      {% if entry.container-title %}
      <em>{{ entry.container-title }}</em>,
      {% endif %}

      {% if entry.page %}
      pages {{ entry.page }},
      {% endif %}

      {% if entryyear == 0 %}
      to appear
      {%- else %}
      {{ entryyear -}}
      {% endif %}.

      {% assign extra = site.data.bibliography_extra[entry.id] %}

      <div class="frow inline">
	{% if entry.abstract %}
	<a class="tag" onclick="$('#abstract-{{ entry.id }}').toggle(100);">
	  <span>abstract</span>
	</a>
	{% endif %}

	{% if extra.dblp %}
	<a class="tag" href="https://dblp.uni-trier.de/rec/{{ extra.dblp }}?view=bibtex">
	  <span>bib</span>
	</a>
	{% endif %}

	{% if extra.html %}
	<a class="tag" href="{{ extra.html }}">
	  <span>html</span>
	</a>
	{% endif %}

	{% if extra.pdf %}
	<a class="tag" href="{{ extra.pdf }}">
	  <span>pdf</span>
	</a>
	{% endif %}

	{% if extra.preprint %}
	<a class="tag" href="{{ extra.preprint }}">
	  <span>preprint</span>
	  <span>pdf</span>
	</a>
	{% endif %}

	{% if extra.long %}
	<a class="tag" href="{{ extra.long }}">
	  <span>long version</span>
	  <span>pdf</span>
	</a>
	{% endif %}

	{% if extra.slides %}
	<a class="tag" href="../assets/talks/{{ extra.slides }}.pdf">
	  <span>slides</span>
	  <span>pdf</span>
	</a>
	{% endif %}

	{% if extra.git %}
	<a class="tag" href="{{ extra.git }}">
	  <span>artifact</span>
	  <span>git</span>
	</a>
	{% elsif extra.artifact_html %}
	<a class="tag" href="{{ extra.artifact_html }}">
	  <span>artifact</span>
	  <span>html</span>
	</a>
	{% endif %}

	{% if extra.award %}
	<span class="tag">
	  <span><i class="fas fa-star"></i> {{ extra.award }}</span>
	</span>
	{% endif %}

	{% if extra.nomination %}
	<span class="tag">
	  <span><i class="far fa-star"></i> {{ extra.nomination }}</span>
	</span>
	{% endif %}
      </div>

      {% if entry.abstract %}
      <div id="abstract-{{ entry.id }}" class="hidden">
	<p>{{ entry.abstract }}</p>
      </div>
      {% endif %}
    </li>

    {% endif %}

    {% endfor %}
  </ul>
  {% endfor %}
</div>

<div class="col-md-1-3">
  <h2>News</h2>
  {% for post in site.posts limit: 3 %}
  <h3>
    {{ post.title }}
    {% if post.link %}
    <small>
      <a href="{{ post.link }}"><i class="fas fa-link"></i></a>
    </small>
    {% endif %}
    {% if post.image %}
    <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image shadow-light"/>
    {% endif %}
  </h3>
  <h4 class="date">{{ post.date | date: "%d %B %Y" }}</h4>

  {{ post.content }}
  {% endfor %}

  <h2>Astrophotography</h2>

  <p>
    I like to take pictures of distant objects.  Below is a
    selection of my best pictures in reverse chronological
    order. High resolution pictures available on request.
  </p>

  {% assign targets = site.data.astro | sort: "date" | reverse %}
  {% for target in targets %}
  <div class="astro-container">
    <img class="rounded shadow-dark" src='/assets/astro/{{ target.key }}-{{ target.date }}.jpg' alt="{{ section.key }}" width="100%"/>
    <div class="astro-title">{{ target.title }}</div>
    <div class="astro-date">{{ target.date | date: "%d %B %Y" }}</div>
  </div>
  {% endfor %}

  <h2>Quotes</h2>

  {% for quote in site.data.quotes %}
  <blockquote>
    <em>&#8220;{{ quote.text }}&#8221;</em>,
    <a href="{{ quote.source }}">
      {{ quote.author }}
      {%- if quote.year %}, {{ quote.year }}{% endif %}
    </a>
  </blockquote>
  {% endfor %}
</div>
