@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600&amp;subset=latin-ext");
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

/*************************/
/* MEDIA DEPENDENT STYLE */
/*************************/
@media all and (min-width: 1024px) {
  body {
    width: 960px;
    left: 50%;
    margin-left: -512px;
  }
}
@media all and (max-width: 1023px) {
  body {
    width: 99%;
  }
}
/***************************/
/* MEDIA INDEPENDENT STYLE */
/***************************/
html {
    position: relative;
    background-image: url('background.png');
    background-color: black;
    padding: 16px 0;
}

body {
    color: #222;
    position: absolute;
    font-family: "Fira Sans", sans-serif;
    font-size: 12pt;
    padding: 0 32px;
}

code {
    font-family: "Fira Mono", monospace;
}

pre {
    border-radius: 2px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

img {
    padding: 5px 0px 5px 5px;
    float: right;
}

ul li {
  list-style-type: circle;
}

li.citation {
    font-size: small;
}

em {
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3 {
    font-weight: normal;
}

strong {
    color: #0047AB;
}

hr {
    margin: 0px -32px;
}

a {
    color: #111;
    text-decoration: underline;
}

a.citation {
    text-decoration: none;
}

a:hover {
    color: #000;
    border-bottom: none;
    text-decoration: none;
}
