<header class="shadow-light">
  <div class="frow-container">
    <div class="frow justify-start">
      <div class="item">
	<a href="{{ site.baseurl }}/index.html">Luca&nbsp;Padovani</a>
      </div>
      {% for entry in site.menu %}
      {% assign page_name = page.name | remove: ".md" %}
      <div class="item">
	<a class="{% if entry == page_name %} is-active{% endif %}"
	   href="{{ site.baseurl }}/{{ entry }}/index.html">{{ entry }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</header>
