---
---

@import url('https://use.fontawesome.com/releases/v5.11.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700&display=swap');

$my-base-font-size:        16px;

$my-primary-font-family:   "Alegreya", serif;
$my-header-font-family:    "Alegreya Sans SC", sans-serif;
$my-secondary-font-family: "Alegreya Sans SC", sans-serif;
$my-code-font-family:      "Fira Code", monospace;

$my-primary-color:    #303030;
$my-secondary-color:  #909090;
$my-link-color:       #A03040;
$my-background-color: #FFFFFF;

$my-border-radius: 3px;

$background-color:    $my-background-color;
$link-color:          $my-link-color;

$title-1-size: 2rem;
$title-2-size: 1.5rem;
$title-3-size: 1.25rem;
$title-4-size: 1rem;

$thick-line-color: lighten($my-link-color, 40%);
$thin-line-color:  $thick-line-color;

$button-text-color:       white;
$button-background-color: $my-link-color;
$button-border-color:     $my-link-color;

@import "../node_modules/frow/frow.sass";
@import "vs.css";

// IMPORTANT: UNDO DISPLAY BLOCK SETTING IN FROW
svg {
    display: inline;
}

.secondary-font-family {
    font-family: $my-secondary-font-family;
}

.code-font-family {
    font-family: $my-code-font-family;
}

body {
    background-color: $background-color;
    line-height: 1.4;
    font-size: $my-base-font-size;
    font-family: $my-primary-font-family;
}

h2, h3, h4, h5, h6 {
    color: $my-link-color;
    font-family: $my-header-font-family;
    font-weight: normal;
    text-transform: lowercase;
}

i[class^="fa"] {
    color: $my-secondary-color;
}

h1 {
    font-size: $title-1-size;
    // font-size: 40px;
    font-family: $my-primary-font-family;
    font-weight: normal;
    font-style: italic;
    // border-style: none none solid none;
    // border-width: 2px;
    // border-color: $thick-line-color;
    padding: 1ex 0;
    margin: 0;
    color: white;
}

header {
    background-color: $my-link-color;
    color: white;
    margin: 0 0 1ex 0;
}

footer {
    background-color: $my-link-color;
    color: white;
    padding: 1ex 0;
    margin: 1ex 0 0 0;
    border: none;
    border-width: 0px;
}

h2 {
    border-style: none none solid none;
    border-width: 1px;
    border-color: $thin-line-color;
}

h4 {
    font-family: $my-secondary-font-family;
    font-size: $title-4-size;
    font-weight: normal;
    color: gray;
}

a {
    color: $my-link-color;
    text-decoration: none !important;
}

// a.btn {
//     text-decoration: none;
// }

.hidden {
    display: none;
}

.rounded {
    border-radius: $my-border-radius;
}

.post-image {
    float: right;
    max-width: 33%;
    margin: 0 0 0.5rem 0.5rem;
    border-radius: $my-border-radius;
}

pre, code {
    border-radius: $my-border-radius;
    font-family: $my-code-font-family;
    background-color: #EEE;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

pre {
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: $my-secondary-color;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn {
    font-family: $my-secondary-font-family;
    font-weight: normal;
    font-size: small;
    padding: 1px;
    margin-right: 4px;
    min-width: 2rem;
}

// .tag {
//     cursor: default !important;
//     border-color: $my-primary-color;
//     background-color: transparent;
//     color: $my-primary-color;
//     text-transform: uppercase;
// }

.tag {
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: $my-link-color;
    font-family: $my-secondary-font-family;
    font-size: small;
    text-transform: lowercase;
    opacity: 0.75;
    padding: 0;
    margin: 0 4px 0 0;

    &:hover {
	opacity: 1;
    }

    span, a {
	border: none;
	display: inline-block;
	padding: 0 3px;
    }

    a {
	background-color: $my-link-color;
	color: white;
    }
}

// .label {
//     color: $my-primary-color;
//     padding: 0;
//     width: auto;
//     margin: 0 4px 0 0;

//     span {
// 	padding: 0 4px;
// 	margin: 0px;
//     }
// }

// .label > a, .tag {
//     display: inline-block;
//     background-color: $my-link-color;
//     color: white;
//     padding: 0 4px;
//     margin: 0px;
//     text-decoration: none;
// }

span.email {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

span.email::before {
    content: "m.it";
}

span.email::after {
    content: "luc";
}

.astro-container {
    font-family: $my-secondary-font-family;
    position: relative;
    color: white;
    img {
	border: 0;
	margin: 0;
	padding: 0;
    }
}

.astro-title {
    font-size: xx-small;
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.astro-date {
    font-size: xx-small;
    position: absolute;
    top: 8px;
    left:   8px;
    text-transform: lowercase;
}
