---
layout: post
title:  "Program Verification in Agda"
---

The [introduction to program verification in Agda](https://boystrange.github.io/ProgramVerification/) that I co-wrote
with [Ugo de'Liguoro](https://www.di.unito.it/~deligu/) is now publicly available. We'd be delighted to receive your feedback, so make sure to drop us a line if you have any comments.
